

<fieldset>
  <legend>Create Comment</legend>
  <ol>
    <%= form_for @comment do |t| %>
    <% if @comment.errors.any? %>
    <h2> Errors: </h2>
    <ul>
        <% @comment.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
    </ul>
    <% end %>
  <li>
    <%=t.label("Name : ")%> &nbsp;&nbsp;
    <%=t.text_field :name %>
    </li>
  <li>
    <%=t.label("Content : ")%>
    <%=t.text_area :content %>
    </li>
  <li>
    <%= t.hidden_field :post_id, :value => params[:id] %>
        <%=t.submit %>
    </li>
  <li>
    <%= link_to "Back", posts_path %>
    </li>

  </ol>
</fieldset>
<%end%>
