<fieldset>
  <legend>Update Post</legend>
  <ul>
    <%= form_for @post do |t| %>
    <% if @post.errors.any? %>
    <h2> Errors: </h2>
    <ul>
        <% @post.errors.full_messages.each do |err| %>
          <li><%= err %></li>
        <% end %>
    </ul>
    <% end %>
  <li>
    <%=t.label("Name : ")%> &nbsp;&nbsp;
    <%=t.text_field :name %>
  </li></br>
    <li>
      <%=t.label("Title : ")%> &nbsp;&nbsp; &nbsp;
      <%=t.text_field :title %>
    </li><br>
      <li>
    <%=t.label("Content : ")%>
    <%=t.text_area :content %>
    </li>
    <br><br><br>
        <%=t.submit %>


  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;  <%= link_to "Back", posts_path %>


  </ul>
</fieldset>
<%end%>
